// 颜色定义规范
$color-body = #F6F7F9;
$color-bg-high = #3B5999;
$color-bg-light = #6078AB;
$color-text = #c8c8c8;
$color-text-h = #999;
$color-text-active = #5998FF;
$color-white = #fff;
$color-black = #5C677B;
$color-solid =#e1e1e1;
$color-dashed = #ccc;
$color-bg = #eee;