// icon
[class^="icon-30"]{width:0.7rem;height:0.7rem}
[class^="icon"]{display:inline-block !important;vertical-align:middle;background:center no-repeat;background-size:100%}
.icon-30-flowControl{background-image:url(./icon/30/flowControl.png)}
.icon-30-weather{background-image:url(./icon/30/weather.png)}
.icon-30-releaseObserve{background-image:url(./icon/30/releaseObserve.png)}
.icon-30-rduty-table{background-image:url(./icon/30/duty-table.png)}
.icon-30-duty-switch{background-image:url(./icon/30/duty-switch.png)}
.icon-30-notice{background-image:url(./icon/30/notice.png)}
.icon-30-notice-send{background-image:url(./icon/30/notice-send.png)}
.icon-30-address{background-image:url(./icon/30/address.png)}
.icon-30-duty-approve{background-image:url(./icon/30/duty-approve.png)}
.icon-30-duty-report{background-image:url(./icon/30/duty-report.png)}
.icon-30-task-my{background-image:url(./icon/30/task-my.png)}
.icon-30-task-send{background-image:url(./icon/30/task-send.png)}